<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreassusanto.malangdarurat">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".PolisiActivity" />
        <activity android:name=".RsActivity" />
        <activity android:name=".Activitykedung"></activity>
        <activity android:name=".Activitylowok"></activity>
        <activity android:name=".Activityasyi"></activity>
        <activity android:name=".Activitynirmala"></activity>
        <activity android:name=".Activityunisma"></activity>
        <activity android:name=".Activitypmi"></activity>
        <activity android:name=".Activitybpdb"></activity>
    </application>

</manifest>